/* =================RTL================ */
.nav-content, .section_home3_hero, .container-default {
  direction: rtl;
}

body {
  font-family: Vazirmatn, Noto Naskh Arabic, sans-serif;
/*  font-size: 18px;
  font-weight: 400;
  line-height: 1.667em;
  color: var(--paragraphs);*/
}

/* nav */
.w-dropdown-link, .nav-dropdown-link {
  text-align: right;
}

.w-dropdown {
  text-align: unset;
}
