{{ $about := index .Site.Data.about .Site.Language.Lang }}

    <section class="section_home3_about">
     <div class="padding-global padding-section-medium">
      <div class="container-default">
       <div class="home3_about_grid" data-w-id="15a6d86e-9913-c9ba-3c80-310c43159ca5" style="-webkit-transform:translate3d(0, 24px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 24px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 24px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 24px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0">
        {{ with $about.image }}
        <img alt="{{ .alt }}" loading="lazy" sizes="{{ .sizes }}" src="{{ .src }}" srcset="{{ .srcset }}">
        {{ end }}

        <div class="home3_about_content">
         <div class="text-style-badge text-align-center">
          {{ $about.badge }}
         </div>
         <div class="spacer-xsmall">
         </div>
         <h2 class="heading-style-h1 text-align-center">
          {{ $about.heading }}
         </h2>
         <div class="spacer-medium">
         </div>

         {{ with $about.buttons }}
         <div class="button-group">
          {{ range . }}
                <a class="button {{ if eq .style "secondary" }}is-secondary{{ end }} w-button" href="{{ .url }}">
                  {{ .label }}
                </a>
          {{ end }}
         </div>
         {{ end }}

         <div class="spacer-large">
         </div>

         {{ with $about.features }}
         <div class="home3_about_list">
          {{ range . }}
          <div class="home3_about_list-item">
           <img alt="" class="icon-height-small" loading="lazy" src="{{ $about.check_icon }}">
           <div class="text-size-small text-weight-medium">
            {{ .text }}
           </div>
           {{ end }}
          </div>
         {{ end }}
         </div>
        </div>
       </div>
      </div>
     </div>
    </section>
