{{ $banner := index .Site.Data.banner .Site.Language.Lang }}

    <section class="section_home3_banner">
     <div class="padding-global padding-section-small">
      <div class="container-default">
       <div class="home3_banner_grid" data-w-id="4d68bb07-7596-322d-cdf9-555ca0442cd7">
        <div class="home3_banner_content">
         <div class="text-style-badge text-color-300">
          {{ $banner.badge }}
         </div>
         <div class="spacer-xsmall">
         </div>
         <h2>
          {{ $banner.heading }}
         </h2>
         <div class="spacer-small">
         </div>
         <div>
          {{ $banner.subheading }}
         </div>
         <div class="spacer-large">
         </div>
         <div class="button-group">
          <a class="button is-alternative w-button" href="{{ $banner.primary_button.url }}">
           {{ $banner.primary_button.label }}
          </a>
          <a class="button is-alternative-secondary w-button" href="{{ $banner.secondary_button.url }}">
           {{ $banner.secondary_button.label }}
          </a>
         </div>
        </div>
        <div class="home3_banner_image" id="w-node-_4d68bb07-7596-322d-cdf9-555ca0442ce7-a0442cd4">
         <img
          class="home3_banner_image3"
          loading="lazy"
          sizes="(max-width: 2486px) 100vw, 2486px"
          src="{{ $banner.image.src }}"
          alt="{{ $banner.image.alt }}"
          srcset="{{ $banner.image.srcset }} 2486w"
         />
        </div>
       </div>
      </div>
     </div>
    </section>
