{{ $faq := index .Site.Data.faq .Site.Language.Lang }}

    <section class="section_home2_faq">
     <div class="padding-global padding-section-medium">
      <div class="container-default">
       <div class="home2_faq_grid">
        <div class="home2_faq_header" data-w-id="5a3d3475-33ac-5827-0e8a-9e90c50f34f6">
         <div class="text-style-badge">
          {{ $faq.faq_section.badge }}
         </div>
         <div class="spacer-xsmall">
         </div>
         <h2>
          {{ $faq.faq_section.title }}
         </h2>
         <div class="spacer-small">
         </div>
         <div>
          {{ $faq.faq_section.intro }}
         </div>
         <div class="spacer-large">
         </div>
        </div>
        <div class="align-center" data-w-id="5a3d3475-33ac-5827-0e8a-9e90c50f3500">
         <div class="home2_faq_box">
          {{ range $faq.faq_section.items }}
          <div class="faq_accordion">
           <div class="faq_question" data-w-id="64672b22-f29a-5fd9-0ec7-4b585e3e8203">
            <div class="faq_question_header">
             <div>
              {{ .question }}
             </div>
            </div>
            <div class="faq_icon">
             <img alt="" class="icon-height-small" loading="lazy" src="https://cdn.prod.website-files.com/67f0bb364d93d2a7b94033b2/67f2b1a0222cbff56931c38a_Plus%204.svg"/>
            </div>
           </div>
           <div class="faq_answer">
            <div class="faq_answer-wrapper">
             <div class="max-width-large">
              <p class="text-size-small text-style-muted">
               {{ .answer }}
              </p>
             </div>
            </div>
           </div>
          </div>
          {{ end }}
         </div>
        </div>
       </div>
      </div>
     </div>
    </section>
