{{ $footer := index .Site.Data.footer .Site.Language.Lang }}

   <footer class="footer background-color-secondary">
    <div class="padding-global padding-section-medium">
     <div class="container-default">
      <div class="footer_wrapper">
       <div class="footer_content">
        <div class="footer_logo-box">
         <img alt="{{ $footer.logo.alt }}" loading="lazy" src="{{ $footer.logo.src }}"/>
         <div class="spacer-small">
         </div>
         <div class="max-width-tiny">
          <div class="text-size-small text-style-muted">
           {{ $footer.logo.description }}
          </div>
         </div>
         <div class="spacer-medium">
         </div>
        </div>

        <!-- Social Links -->
        <div class="footer_socials">
         {{ range $footer.socials }}
         <a class="footer_social-link w-inline-block" href="{{ .href }}">
          <img alt="{{ .name }}" class="footer_social-link-image" loading="lazy" src="{{ .src }}"/>
         </a>
         {{ end }}
        </div>
       </div>

       <!-- Navigation Columns -->
       <nav class="footer_nav">
        {{ range $footer.nav }}
        <div class="footer_nav-column">
         <div class="text-style-badge">
          {{ .title }}
         </div>
         <div class="footer_nav-list">
          {{ range .links }}
          <a class="footer_nav-link" href="{{ .href }}">
           {{ .name }}
          </a>
          {{ end }}
         </div>
        </div>
        {{ end }}
       </nav>
      </div>
      <div class="spacer-large">
      </div>

      <!-- Footer Info -->
      <div class="footer_info">
       <div class="text-size-tiny">
        {{ $footer.info.copyright.prefix }}
        <a class="text-size-tiny" href="{{ $footer.info.copyright.href }}" target="_blank">
         {{ $footer.info.copyright.linkedword }}
        </a>
        {{ $footer.info.copyright.suffix }}
       </div>


       <div class="footer_info-template">
        {{ range $index, $link := $footer.info.template_links }}
        <a class="text-size-tiny" href="{{ $link.href }}">
         {{ $link.name }}
        </a>
          {{ if lt (add $index 1) (len $footer.info.template_links) }}
            <div class="dot"></div>
          {{ end }}
        {{ end }}
       </div>
      </div>


      <div class="spacer-xsmall">
      </div>
      <div class="divider">
      </div>
      <div class="spacer-xsmall">
      </div>
      <div class="text-size-tiny text-color-secondary">
       {{ $footer.legal_disclaimer }}
      </div>
     </div>
    </div>
   </footer>
