{{ $t := index .Site.Data.testimonials .Site.Language.Lang }}

    <section class="section_home3_reviews">
     <div class="padding-global padding-section-medium">
      <div class="container-default">
       <div data-w-id="15a6d86e-9913-c9ba-3c80-310c43159cde" style="-webkit-transform:translate3d(0, 24px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 24px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 24px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 24px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0">
        <div class="text-style-badge text-align-center">
         {{ $t.subtitle }}
        </div>
        <div class="spacer-xsmall">
        </div>
        <h2 class="text-align-center">
         {{ $t.title }}
        </h2>
        <div class="spacer-large">
        </div>
       </div>
       <div class="home3_reviews_slider w-slider" data-animation="fade" data-autoplay="true" data-autoplay-limit="0" data-delay="4000" data-disable-swipe="false" data-duration="500" data-easing="ease-in-out-quart" data-hide-arrows="false" data-infinite="true" data-nav-spacing="3" data-w-id="15a6d86e-9913-c9ba-3c80-310c43159ce5" style="-webkit-transform:translate3d(0, 24px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 24px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 24px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 24px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0">
        <div class="home3_reviews_mask w-slider-mask">
         {{ range $t.slides }}
         <div class="home3_reviews_slide w-slide">
          <div class="home3_reviews_box">
           <div class="max-width-large align-center">
            <div class="home3_reviews_highlight">
             <img alt="" class="icon-height-medium" loading="lazy" src="{{ .highlight_icon }}">
             <div class="heading-style-h5 text-color-alternate">
              {{ .highlight_text }}
             </div>
            </div>
            <div class="spacer-large">
            </div>
            <div class="heading-style-h3 text-align-center">
             “{{ safeHTML .quote }}”
            </div>
            <div class="spacer-large">
            </div>
            <img alt="home1_review1" class="home3_reviews_image" loading="lazy" sizes="(max-width: 1374px) 100vw, 1374px" src="https://cdn.prod.website-files.com/67f0bb364d93d2a7b94033b2/67f28aea65ba7379813c3393_home1_review1.avif" srcset="https://cdn.prod.website-files.com/67f0bb364d93d2a7b94033b2/67f28aea65ba7379813c3393_home1_review1-p-500.avif 500w, https://cdn.prod.website-files.com/67f0bb364d93d2a7b94033b2/67f28aea65ba7379813c3393_home1_review1-p-800.avif 800w, https://cdn.prod.website-files.com/67f0bb364d93d2a7b94033b2/67f28aea65ba7379813c3393_home1_review1.avif 1374w"/>
            <div class="home3_reviews_author-info">
             <div class="text-size-large">
              {{ .author_name }}
             </div>
             <div class="text-color-secondary">
              {{ .author_role }}
             </div>
            </div>
           </div>
          </div>
         </div>
         {{ end }}
        </div>
        <div class="slider-arrow is-left is-home-3 w-slider-arrow-left">
         <img alt="" loading="lazy" src="https://cdn.prod.website-files.com/67f0bb364d93d2a7b94033b2/67f28bc44ed8bfee392530b8_Left.svg"/>
        </div>
        <div class="slider-arrow is-right is-home-3 w-slider-arrow-right">
         <img alt="" loading="lazy" src="https://cdn.prod.website-files.com/67f0bb364d93d2a7b94033b2/67f28bc438b9facd4b4e144b_Right.svg"/>
        </div>
        <div class="hide w-slider-nav w-round w-num">
        </div>
       </div>
      </div>
     </div>
    </section>
