{{ $up := index .Site.Data.updates .Site.Language.Lang }}

    <section class="section_home3_updates background-color-secondary">
     <div class="padding-global padding-section-medium">
      <div class="container-default">
       <div class="home3_updates_header" data-w-id="15a6d86e-9913-c9ba-3c80-310c43159d89" style="-webkit-transform:translate3d(0, 24px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 24px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 24px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 24px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0">
        <div>
         <div class="text-style-badge">
          {{ $up.badge }}
         </div>
         <div class="spacer-xsmall">
         </div>
         <h2>
          {{ $up.heading }}
         </h2>
         <div class="spacer-xsmall">
         </div>
         <div>
          {{ $up.subheading }}
         </div>
        </div>
        <a class="button is-secondary w-button" href="/updates">
         {{ $up.all_button }}
        </a>
       </div>
       <div class="spacer-large">
       </div>
       <div class="home3_updates_header-grid" data-w-id="15a6d86e-9913-c9ba-3c80-310c43159d96" style="-webkit-transform:translate3d(0, 24px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 24px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 24px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 24px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0">

        {{ $articles := where .Site.RegularPages "Section" "articles" }}
        {{ $latest := first 3 (sort $articles "Date" "desc") }}

        {{ range $latest }}
        <div class="home3_updates_header-featured w-dyn-list">
         <div class="w-dyn-items" role="list">
          <div class="w-dyn-item" role="listitem">
           <a class="home3_updates_featured-card w-inline-block" data-w-id="15a6d86e-9913-c9ba-3c80-310c43159d9a" href="{{ .RelPermalink }}">
            {{ with .Params.header_image }}
             <img alt="{{ $.Title }}" class="home3_updates_featured-image" loading="lazy" sizes="100vw" src="{{ . }}" srcset=""/>
            {{ end }}
            <div class="home3_updates_featured-content">
             <h3 class="heading-style-h5">
              {{ .Title }}
             </h3>
             <div class="spacer-xxsmall">
             </div>
             <div class="text-color-alternate text-style-muted">
              {{ .Params.description }}
             </div>
             <div class="spacer-xxsmall">
             </div>
             <div class="updates-info">
              <div class="updates_badge">
               {{ .Date.Format "January 2, 2006" }}
              </div>
              <div class="text-size-tiny">
               {{ with index .Params.categories 0 }}{{ . }}{{ end }}
              </div>
             </div>
             <div class="spacer-xxsmall">
             </div>
             <div class="button is-link is-white">
              <div>
               {{ $up.button_label }}
              </div>
              <img alt="" class="icon-height-small" loading="lazy" src="https://cdn.prod.website-files.com/67f0bb364d93d2a7b94033b2/67f3ca4d5bf0e0d067a1fe0c_Right%20-%206.svg"/>
             </div>
            </div>
           </a>
          </div>
         </div>
        </div>
        {{ end }}
       </div>
      </div>
     </div>
    </section>
