<!--   <div class="badges">
    <a class="button-customize w-inline-block" href="https://www.loonis.co/customization" target="_blank">
     <img alt="" loading="lazy" src="https://cdn.prod.website-files.com/67f0bb364d93d2a7b94033b2/67f26c6d38b9facd4b39bbef_customize%20icon.svg"/>
     <div class="text-badges">
      Need help customizing?
     </div>
     <img alt="" loading="lazy" src="https://cdn.prod.website-files.com/67f0bb364d93d2a7b94033b2/67f26c6d222cbff569054944_arrow%20icon.svg"/>
    </a>
    <a class="button-templates w-inline-block" href="https://www.loonis.co/" target="_blank">
     <div class="button-templates-box">
      <img alt="loonis icon" loading="lazy" src="https://cdn.prod.website-files.com/67f0bb364d93d2a7b94033b2/67f26d0970ca14a61bc6a03a_loonis.svg"/>
      <div class="text-badges is-black">
       More Templates
      </div>
     </div>
     <img alt="" loading="lazy" src="https://cdn.prod.website-files.com/67f0bb364d93d2a7b94033b2/67f26c6d222cbff569054944_arrow%20icon.svg"/>
    </a>
   </div>-->
